@import './_color'

* 
  margin 0
  padding 0
  font-family "Josefin Sans", sans-serif
  outline 0

html 
  font-size 62.5%

body 
  background #f0f8fd

// main page

.main-page
  width 100%
  height 100vh
  display none
  grid-template-columns repeat(2,1fr)
  grid-template-rows 1fr min-content

  // left side
  .left
    grid-area 1/1/2/2
    background-color $main-color
    display flex
    justify-content center
    align-items center

    i
      font-size 3rem
      margin-right 2rem
    
    .left-content-heading
      font-size 2rem

    .list-item
      display flex
      align-items center
      margin 4rem
      color #fff
  // end of left side

  // right side form
  .right
    grid-area 1/2/2/-1
    position relative

    .right-content-form
      display flex
      justify-content center
      margin-top 3rem

      .btn-top
        width 8rem
        background-color #fff
        color $main-color
        border 0.1rem solid $main-color
        border-radius 3rem
        cursor pointer
        font-size 1.4rem
        font-weight bold
        transition background-color 0.3s ease-in-out

        &:hover
          background-color: $button-hover-color-light

      input
        width 20rem
        height 4.5rem
        margin-right 1rem
        font-size 1.6rem
        padding 0 1rem
        border 0.1rem solid #ddd 
        border-radius 0.5rem
        background-color #fff
        transition transform 0.1s ease-in

        &:focus, &:hover
          transform scale(1.05)
          background-color $button-hover-color-light


      .password-wrapper
        position relative

      label
        position absolute
        top 6rem
        left 0
        font-size 1.6rem
        font-weight 400
        color #a7a6a6 
    // end of right side form

    // right side middle content
    .middle-content
      position absolute 
      top 50%
      left 50%
      transform translate(-50%,-50%)
      display flex
      flex-direction column
      width 40%

      i
        font-size 4rem
        color $main-color
        margin-bottom 2rem

      h1 
        font-size 2rem
        margin-bottom 4rem
        line-height 4rem

      h4
        font-size 2rem
        margin-bottom 2rem

      button 
        margin 0.8rem 0
        padding 0.5rem
        border-radius 4rem
        border .1rem solid $main-color
        font-size 1.6rem
        cursor pointer
        transition backgroud-color 0.3s ease-in

        &.sign-up 
          color #fff
          background-color $main-color

          &:hover
            background-color $button-hover-color-dark
        
        &.log-in
          background-color #fff

          &:hover
            background-color $button-hover-color-light
    // end of right side middle content

  // main-page-footer
  .main-page-footer
    grid-area 2/1/-1/-1
    background-color #f5f4f4
    padding 1.5rem
    border-top .1rem solid #ddd

    ul
      display flex
      justify-content center
      list-style none
      
      a
        font-size 1.6rem
        margin 0 2rem
        text-decoration none
        color #444
        font-weight 300
        transition color

        &:hover
          color coral

  // end of main-page-footer

// end of main page

